@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../../../node_modules/bootstrap/scss/bootstrap";

$primary: #1a1e21;

body {
  background: #1a1e21;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px 0.5px $gray-600;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #ddff94, #009f5b,#009a47 );
  border-radius: 10px;
}




#header{
  position: relative;
  width: 100%;
  box-shadow: 0 1px 10px 0.5px #1a1e21;
  z-index: 999;
  top:0;
}

.container-fluid {
  #header-logo{
    display: flex;
    width: 300px;
  }

  #scout-lily-logo {
    width: 30%;
  }

  #right-logo{
    width: 300px;
    display: flex;
  }

  #team-logo {
   width: 70%;
  }

  #fb-logo{
    margin: 10px;
    width:50px;
  }
}

#fb-logo-footer{
  display: none;
}

.news-title{
  color: snow;
  text-align: center;
  margin: 20px 0;
  box-shadow: 0px 20px 20px 0.5px #1a1e21;
  z-index: 15;
  position: relative;

}

.news{
  background-image: url("../../images/SVG/bg.svg");
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 10;
}

#wrapper {
  position: relative;
  top: 0;
  left: 0;
  border: 0;
  z-index: -1; /* <-- this plays a key roll for it to work */
  width: 100% !important; /* <-- this plays a key roll for it to work */
  height: 100%;
  margin:0;
  padding:0;
}

.btn-details{
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color:snow;
  background:#009f5b ;
  //background-image: linear-gradient(to right, #ddff94, #009f5b,#009a47);
}
.btn-details:hover{
  color:#1a1e21;
}

#about-bg{
  background-image: url("../../images/SVG/bg-about.svg");
  background-size: cover;
  z-index: 10;
  border: none;

  #about-container{
    width: 70%;
  }

}

#list-container{
  background-image: url("../../images/SVG/mail.svg");
  background-size: cover;
  z-index: 10;
  height: 600px;
  color:snow;
  border: none;


}


$primary: #009a47;
$dark-primary: #009f5b;
$light-primary: #ddff94;
$text: snow;
$primary-text: #1a1e21;
$secondary-text: #757575;
$accent: #009a47;

section {
  padding: 100px 0;
}



.timeline {

  position: relative;

  &::before {
    content: '';
    background-image: linear-gradient(to top, #ddff94, #009f5b,#009a47,#009f5b,#ddff94);
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {

    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .date {
        right: auto;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}


.timeline-card {
  padding: 0!important;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.timeline-item {
  .timeline-img-header {

  }
}

.timeline-img-header {

  height: 200px;
  position: relative;
  margin-bottom: 20px;

  h2 {
    color: $text;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

blockquote {
  margin-top: 30px;
  color: $secondary-text;
  border-left-color: $primary;
  padding: 0 20px;
}

.date {
  background: $accent;
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {

  .timeline {

    &::before {
      left: 50px;
    }

    .timeline-img {
      left: 50px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }

    .timeline-item {

      &:nth-child(even) {

        .timeline-content {
          float: none;

        }
      }

      &:nth-child(odd) {

        .timeline-content {

          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
          }
        }

      }
    }
  }

}

@media screen and (max-width: 992px){

    #header-logo{
      width:150px;
      #scout-lily-logo{
        display: none;
      }
      #team-logo{
        width:50%
      }
    }

    #fb-logo{
      display: none;
    }

  ::-webkit-scrollbar {
    width: 0px;
  }
  #footer-logo {
    margin:0 auto;
    width:30%;
    #fb-logo-footer {
      display: inline-block;
      width:40%;
    }
  }
  #about-bg {
    #about-container {
      width: 100%;
    }
  }

  #news-spacer{
    display: none;
  }

  #card-news{
    width:100%!important;
  }

}


.gradient-box {

  display: flex;
  align-items: center;
  //width: 50vw;
  width: 40%;
  min-width: 400px;
  margin:20px;

  position: relative;
  padding: 0.3%;
  box-sizing: border-box;

  $border: 5px;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to top,#ddff94, #009f5b,#009a47);
  }
}
